  <!-- <div id="quiz">
    <form id="quiz-form">

    </form>
    <button id="submit-quiz-btn">
      <span>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width: 1.5rem; height: 1.5rem;">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
        </svg>
        
      </span>&nbsp;
      Submit</button>
    <div id="result"></div>
  </div> -->


  <div id="quiz">
    <form id="quiz-form">
    </form>
    <button id="submit-quiz-btn" class="big-quiz-btn w-full mt-4 mb-4 px-4 py-2 bg-black hover:bg-gray-800 text-white rounded flex items-center justify-center gap-2 transition-colors">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
      </svg>
      Submit
    </button>
    <div id="result"></div>
  </div>