repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6  # Or latest stable
    hooks:
      - id: codespell
        name: Check for common misspellings
        args: ["--ignore-words", ".codespell-ignore"]
        files: \.qmd$
        exclude: ".venv|_book|_site|node_modules|images"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: Validate _quarto.yml
        files: ^_quarto\.yml$

      - id: trailing-whitespace
        name: Trim trailing whitespace
        files: ^contents/.*\.qmd$
        verbose: false

      - id: end-of-file-fixer
        name: Fix end of file newlines
        files: ^contents/.*\.qmd$
        verbose: false

  - repo: https://github.com/FlamingTempura/bibtex-tidy
    rev: v1.14.0
    hooks:
      - id: bibtex-tidy
        name: Tidy bibtex files
        args: [
          '--align=space',
          '--curly',
          '--sort=key',
          '--sort-fields',
          '--duplicates=key',
          '--remove-empty-fields',
          '--space=2',
          '--trailing-commas',
          '--escape',
          '--wrap=100',
          '--blank-lines'
        ]
        files: ^contents/.*\.bib$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        name: Lint quarto markdown
        types: [text]
        files: ^contents/.*\.qmd$
        args: ["--quiet", "-c", ".mdlintconfig.yml"]
        entry: bash -c 'markdownlint "$@" || true'

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    
    hooks:
      - id: mdformat
        name: Format quarto markdown
        additional_dependencies: [mdformat-frontmatter]
        files: ^contents/.*\.qmd$

  - repo: local
    hooks:
      - id: check-unreferenced-labels
        name: Check for Unreferenced Labels
        entry: python3 ./scripts/find_unreferenced_labels.py ./contents/core
        language: system
        files: ''
        pass_filenames: false
