project:
  type: book
  output-dir: _book
  preview:
    browser: true
    navigate: true
  render: 
    - "*.qmd"

website:
  comments: 
    hypothesis:
      theme: clean
      openSidebar: true

include-in-header:
  text: <script src="https://hypothes.is/embed.js" async></script>

book:
  page-navigation: true
  title: "MACHINE LEARNING SYSTEMS for TinyML"
  abstract: Machine Learning Systems for TinyML offers comprehensive guidance on deploying machine learning on embedded devices. As edge computing and the Internet of Things proliferate, this textbook provides professionals and students the expertise to implement performant AI on resource-constrained hardware. A unique aspect of this book elucidates the entire machine learning workflow, from data engineering through training, optimization, acceleration, and production deployment. Key topics covered include deep learning and classical ML algorithms for embedded systems, efficient neural network architectures, hardware-aware training techniques, model compression, benchmarking for tinyML, and on-device learning. Additional chapters highlight cutting-edge advances like on-device data generation and crucial considerations around reliability, privacy, security, and responsible AI. With its rigorous approach spanning theory and practice across diverse tinyML application domains like smart homes, wearables, and industrial IoT, the book enables readers to develop specialized knowledge. Using concrete use cases and hands-on examples, readers will learn to apply machine learning to transform embedded and IoT systems. Overall, this indispensable guide provides a research-based foundation for leveraging machine learning in embedded systems.
  subtitle: ""
  search: true
  repo-url: https://github.com/harvard-edge/cs249r_book
  repo-actions: [edit, issue, source]
  downloads: [pdf, epub]
  sharing: [twitter, facebook]
  reader-mode: true
  cover-image: cover.png
  favicon: cover.png
  page-footer:
    left: |
      Edited by Prof. Vijay Janapa Reddi (Harvard University)
    right: |
      This book was built with <a href="https://quarto.org/">Quarto</a>.

  chapters:
    - part: front.qmd
      chapters:
      - index.qmd
      - dedication.qmd
      - acknowledgements.qmd
      - contributors.qmd
      - copyright.qmd
      - about.qmd
    - introduction.qmd
    - embedded_sys.qmd
    - dl_primer.qmd
    - embedded_ml.qmd
    - workflow.qmd
    - data_engineering.qmd
    - frameworks.qmd
    - training.qmd
    - efficient_ai.qmd
    - optimizations.qmd
    - hw_acceleration.qmd
    - benchmarking.qmd
    - ondevice_learning.qmd
    - ops.qmd
    - privacy_security.qmd
    - responsible_ai.qmd
    - generative_ai.qmd
    - ai_for_good.qmd
    - sustainable_ai.qmd
  
    - part: HANDS-ON EXERCISES
      chapters: 
      - embedded_sys_exercise.qmd
      - embedded_ml_exercise.qmd

  references: references.qmd

  appendices:
      - tools.qmd
      - zoo_datasets.qmd
      - zoo_models.qmd
      - learning_resources.qmd
      - community.qmd
      - case_studies.qmd
      - embedded_sys_exercise.qmd

citation: true
bibliography: references.bib
reference-location: margin
citation-location: margin

keywords:
  - open-source
  - embedded systems
  - machine learning
  - tinyML
license: CC-BY-NC-SA

crossref:
  appendix-title: "Appendix"
  appendix-delim: ":"

format:
  html:
    theme: 
      - cosmo
      - style.scss
    mainfont: Nunito
    code-link: true
    link-external-icon: true
    link-external-newwindow: true
    callout-appearance: simple
    anchor-sections: true
    smooth-scroll: false
    toc: true
    citations-hover: false
    fig-width: 8
    fig-height: 6

editor:
  render-on-save: true
