# MLSysBook Dependencies
# This is a convenience file that includes all dependencies
#
# To install all dependencies:
#   pip install -r requirements.txt
#
# For development work including Book Binder CLI:
#   pip install -r requirements.txt
#
# Main dependencies are maintained in book/tools/dependencies/requirements.txt
# (MLSysBook content is now under book/ to accommodate TinyTorch at root)

-r book/tools/dependencies/requirements.txt
