# MLSysBook Dependencies
# This is a convenience file that includes all dependencies
# 
# To install all dependencies:
#   pip install -r requirements.txt
#
# For development work including Book Binder CLI:
#   pip install -r requirements.txt
#
# Main dependencies are maintained in tools/dependencies/requirements.txt

-r tools/dependencies/requirements.txt 