/*-- scss:defaults --*/

$font-size-root: 16px !default;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/*-- scss:rules --*/

/* Override font color in Sandstone theme */
.theme-sandstone {
  color: #A51C30; /* Set font color to #A51C30 */
}

/*-- scss:defaults --*/
:root {
  --link-color: #A51C30; /* Define the CSS variable for link color */
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
  color: #A51C30 !important;
  background-color: snow;
  font-weight: bold;
}

/*-- scss:defaults --*/

/*-- scss:rules --*/

/* Headings ------------------------------------------------------ */

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; font-weight: 500; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

/* Code ------------------------------------------------ */

code a:any-link {
  text-decoration: underline;
}

/*-- scss:defaults --*/

.figure {
  margin: auto;
  text-align: left;
}

/* Aligns the caption in margin to the left */
.csl-entry {
  display: block;
  margin-left: 0;
  text-align: left;
}

/* Mixin for callout styling */
@mixin base-callout {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: .25rem;

  border-left: solid #acacac .3rem; /* Establishes base left border */
  border-right: solid 0.5px silver;
  border-top: solid 0.5px silver;
  border-bottom: solid 0.5px silver;
}

/* Styling for answer callout body */
.callout-body-container.callout-body {
  padding: 0px 0px 0px 23.04px; /* Top Right Bottom Left */
}

/* Slide callout styling */
div.callout-slide.callout {
  @include base-callout;
  border-left-color: #8f00ff !important; /* Overrides left border color */
}

div.callout-slide.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "🎫";
  margin-right: 10px;
}

/* Video callout styling */
div.callout-video.callout {
  @include base-callout;
  border-left-color: #8ccd00 !important; /* Overrides left border color */
}

div.callout-video.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "📺";
  margin-right: 10px;
}

div.callout-lab.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "🧪";
  margin-right: 10px;
}

/* Question callout styling */
div.callout-question.callout {
  @include base-callout;
  border-left-color: #ff7d00  !important; /* Overrides left border color */
}

div.callout-question.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "❓";
  margin-right: 10px;
}

/* Exercise callout styling */
div.callout-colab.callout {
  @include base-callout;
  border-left-color: #ff7d00  !important; /* Overrides left border color */
}

div.callout-colab.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "👩‍💻";
  margin-right: 10px;
}

/* Answer callout styling */
div.callout-answer.callout {
  @include base-callout;
  border-left-color: #ffdd00 !important; /* Overrides left border color */
}

div.callout-answer.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "✅";
  margin-right: 10px;
}

/* Hint callout styling */
div.callout-hint.callout {
  @include base-callout;
  border-left-color: #01befe !important; /* Overrides left border color for hint */
}

div.callout-hint.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "🤔";
  margin-right: 10px;
}

.callout-toggle::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(52, 58, 64)" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
}

/* styling for giscuss comments */
.giscus{
  padding-left: 1em;
  padding-right: 1em;
}

/* scrolling windows for long Python scripts in the HTML e-book version */
.scroll-code-block {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  background-color: #f8f8f8;
}

.scroll-code-block pre {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.scroll-code-block code {
  display: block;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
}
