/*-- scss:defaults --*/



/*-- scss:rules --*/

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

body {
  -webkit-font-smoothing: auto;
}

.navbar {
  background-color: $primary;
  color: $primary;
}

/* Headings ------------------------------------------------------ */

.quarto-section-identifier {
//  color: #6C6C6C;
}

/* Code ------------------------------------------------ */

:not(pre) > code {
//  color: #373a3c;
}
