/*-- scss:defaults --*/

$font-size-root: 16px !default;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/*-- scss:rules --*/

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
  color: #A51C30 !important;
  background-color: snow;
  font-weight: bold;
}

/*-- scss:defaults --*/

/*-- scss:rules --*/

/* Headings ------------------------------------------------------ */

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; font-weight: 500; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

/* Code ------------------------------------------------ */

code a:any-link {
  text-decoration: underline;
}

/*-- scss:defaults --*/

/* Mixin for callout styling */
@mixin base-callout {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: .25rem;

  border-left: solid #acacac .3rem; /* Establishes base left border */
  border-right: solid 0.5px silver;
  border-top: solid 0.5px silver;
  border-bottom: solid 0.5px silver;
}

/* Styling for answer callout body */
.callout-body-container.callout-body {
  padding: 0px 0px 0px 23.04px; /* Top Right Bottom Left */
}

/* Exercise callout styling */
div.callout-slide.callout {
  @include base-callout;
  border-left-color: #8f00ff !important; /* Overrides left border color */
}

div.callout-slide.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "🎫";
  margin-right: 10px;
}

/* Exercise callout styling */
div.callout-video.callout {
  @include base-callout;
  border-left-color: #8ccd00 !important; /* Overrides left border color */
}

div.callout-video.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "📺";
  margin-right: 10px;
}

/* Exercise callout styling */
div.callout-lab.callout {
  @include base-callout;
  border-left-color: #ff006d !important; /* Overrides left border color */
}

div.callout-lab.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "👩‍💻";
  margin-right: 10px;
}

/* Question callout styling */
div.callout-question.callout {
  @include base-callout;
  border-left-color: #ff7d00  !important; /* Overrides left border color */
}

div.callout-question.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "❓";
  margin-right: 10px;
}

/* Exercise callout styling */
div.callout-exercise.callout {
  @include base-callout;
  border-left-color: #ff7d00  !important; /* Overrides left border color */
}

div.callout-exercise.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "📚";
  margin-right: 10px;
}

/* Answer callout styling */
div.callout-answer.callout {
  @include base-callout;
  border-left-color: #ffdd00 !important; /* Overrides left border color */
}

div.callout-answer.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "✅";
  margin-right: 10px;
}

/* Hint callout styling */
div.callout-hint.callout {
  @include base-callout;
  border-left-color: #01befe !important; /* Overrides left border color for hint */
}

div.callout-hint.callout > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "🤔";
  margin-right: 10px;
}

.callout-toggle::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(52, 58, 64)" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
}

/* Examples of how to use the above styles

::: {.callout-slide collapse="false"}
## Slides

Now would be a great time for you to try out a small [Image Classification](../image_classification/image_classification.qmd) computer vision model out of the box.
:::

::: {.callout-exercise collapse="false"}
# Exercises

Now would be a great time for you to try out a small computer vision model out of the box.
:::

::: {.callout-lab collapse="false"}
## Labs

Now would be a great time for you to try out a small [Image Classification](../image_classification/image_classification.qmd) computer vision model out of the box.
:::

::: {.callout-question collapse="false"}
## Questions

Now would be a great time for you to try out a small [Image Classification](../image_classification/image_classification.qmd) computer vision model out of the box.
:::

::: {.callout-answer collapse="false"}
## Answer

Now would be a great time for you to try out a small [Image Classification](../image_classification/image_classification.qmd) computer vision model out of the box.
:::

::: {.callout-hint collapse="false"}
## Hint

Now would be a great time for you to try out a small [Image Classification](../image_classification/image_classification.qmd) computer vision model out of the box.
:::

*/