/* Override font color in Sandstone theme */
.theme-sandstone {
  color: #A51C30; /* Set font color to #A51C30 */
}

/*-- scss:defaults --*/
:root {
  --link-color: #A51C30; /* Define the CSS variable for link color */
}

/*-- scss:rules --*/
body {
  -webkit-font-smoothing: auto;
}

a {
  color: var(--link-color); /* Use the CSS variable for link color */
  text-decoration: underline;
  -webkit-text-decoration: underline;
  -moz-text-decoration: underline;
  -ms-text-decoration: underline;
  -o-text-decoration: underline;
}

a:hover {
  color: var(--link-color); /* Ensure link color remains the same on hover */
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

/* Set color and link styles for active items in the sidebar */
div.sidebar-item-container .active,
div.sidebar-item-container .show > .nav-link,
div.sidebar-item-container .sidebar-link > code {
    color: var(--link-color);
}

/* Set color for TOC links on hover */
.sidebar nav[role=doc-toc] ul > li > a:hover,
.sidebar nav[role=doc-toc] ul > li > ul > li > a:hover {
    color: var(--link-color) !important;
}

/* Set border color and text color for active TOC links */
.sidebar nav[role=doc-toc] ul > li > a.active,
.sidebar nav[role=doc-toc] ul > li > ul > li > a.active {
    border-left: 1px solid var(--link-color);
    color: var(--link-color) !important;
}

/* Set text color for active TOC links on hover */
.sidebar nav[role=doc-toc] ul > li > a.active:hover,
.sidebar nav[role=doc-toc] ul > li > ul > li > a.active:hover {
    color: var(--link-color);
    /* Add any additional hover styles here */
}

.navbar-dark,
.navbar[data-bs-theme=dark] {
    --bs-navbar-active-color: var(--link-color);
    --bs-navbar-brand-hover-color: var(--link-color);
    --bs-navbar-hover-color: var(--link-color);
    --bs-navbar-hover-color: var(--link-color);
    --bs-navbar-active-color: var(--link-color);
    --bs-navbar-brand-hover-color: var(--link-color);
}

.navbar .quarto-navbar-tools .quarto-navigation-tool:hover {
  color: var(--link-color);
}
