/*-- scss:defaults --*/

$primary: #A51C30 !default;

$background-color: #bfe4eb !default;

/*-- scss:rules --*/

.navbar {
  background-color: #f8f9fa; 
}

.navbar-title {
  color: #545555;
}

.sidebar-title {
  color: $primary;
}

/* Headings ------------------------------------------------------ */

.quarto-section-identifier {
  color: #6C6C6C;
}

/* Code ------------------------------------------------ */

:not(pre) > code {
  color: #373a3c;
}

