/*-- scss:defaults --*/

$font-size-root: 16px !default;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/*-- scss:rules --*/

/* Override font color in Sandstone theme */
.theme-sandstone {
  color: #A51C30; /* Set font color to #A51C30 */
}

/*-- scss:defaults --*/
:root {
  --link-color: #A51C30; /* Define the CSS variable for link color */

  --mermaid-bg-color: #f9fafb; /* Light neutral background */
  --mermaid-edge-color: #4b5563; /* Muted dark gray for edges */
  --mermaid-node-fg-color: #1f2937; /* Dark gray for node text */
  --mermaid-fg-color: #2563eb; /* Primary blue for accents */
  --mermaid-fg-color--lighter: #60a5fa; /* Lighter blue for highlights */
  --mermaid-fg-color--lightest: #93c5fd; /* Lightest blue for secondary highlights */
  --mermaid-font-family: 'Roboto', sans-serif; /* Modern, clean font */
  --mermaid-label-bg-color: #e5e7eb; /* Soft gray for label backgrounds */
  --mermaid-label-fg-color: #1f2937; /* Dark gray for label text */
  --mermaid-node-bg-color: #ffffff; /* White for node backgrounds */
  --mermaid-node-fg-color: #1f2937; /* Dark gray for node text */
}

/*-- scss:defaults --*/

/*-- scss:rules --*/

/* Headings ------------------------------------------------------ */

/* Code ------------------------------------------------ */

code a:any-link {
  text-decoration: underline;
}

/*-- scss:defaults --*/

.figure {
  margin: auto;
  text-align: left;
}

/* Aligns the caption in margin to the left */
.csl-entry {
  display: block;
  margin-left: 0;
  text-align: left;
}

/* styling for giscuss comments */
.giscus{
  padding-left: 1em;
  padding-right: 1em;
}

/* scrolling windows for long Python scripts in the HTML e-book version */
.scroll-code-block {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  background-color: #f8f8f8;
}

.scroll-code-block pre {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.scroll-code-block code {
  display: block;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
}

/* Section Headers (PART titles) */
.part {
  background-color: #D8C3A5; /* Muted beige-grey */
  color: #3B2E2A; /* Rich dark brown */
  padding: 4px 6px;
  border-radius: 6px;
  font-weight: oblique;
  margin-bottom: 10px;
}

/* Highlighted PART header (active section) */
.part.active {
  background-color: #C4B295; /* Slightly darker beige */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* General right margin for the document */
body {
  margin-right: 20px; /* Slightly reduce the general margin for the right */
}
