diagram:
  engine:
    dot: false
    mermaid: false
    asymptote: false
    tikz:
      execpath: lualatex
      output-format: svg
      header-includes:
        - '\usepackage{tikz}'
        - '\usepackage{pgfplots}'
        - '\usepackage{pgf-pie}'
        - '\usepackage{amsmath}'
        - '\usepackage{amssymb}'
        - '\usepackage{xcolor}'
        - '\pgfplotsset{compat=1.9}'
        - '\usepgfplotslibrary{fillbetween}'
        - '\usetikzlibrary{angles}'
        - '\usetikzlibrary{arrows.meta}'
        - '\usetikzlibrary{arrows}'
        - '\usetikzlibrary{backgrounds}'
        - '\usetikzlibrary{bending}'
        - '\usetikzlibrary{calc}'
        - '\usetikzlibrary{shadows.blur}'
        - '\usetikzlibrary{fit}'
        - '\usetikzlibrary{intersections}'
        - '\usetikzlibrary{positioning}'
        - '\usetikzlibrary{shapes.geometric}'
        - '\usetikzlibrary{shapes}'
        - '\usetikzlibrary{quotes}'
        - '\usetikzlibrary{decorations.pathmorphing}'
        - '\usetikzlibrary{decorations.markings}'
        - '\usetikzlibrary{matrix}'
        - '\usetikzlibrary{patterns}'
        - '\usepgfplotslibrary{dateplot}'
        - '\usepgfplotslibrary{polar}'
        - '\definecolor{Brown}{rgb}{0.65, 0.16, 0.16}'
        - '\definecolor{BrownL}{RGB}{233,222,220}'
        - '\definecolor{BrownLine}{RGB}{143,120,116}'
        - '\definecolor{BackColor}{RGB}{255,255,229}'
        - '\definecolor{BackLine}{RGB}{181,181,72}'
        - '\definecolor{BlueD}{RGB}{62,100,125}'
        - '\definecolor{BlueL}{RGB}{209,243,255}'
        - '\definecolor{BlueLine}{HTML}{006395}'
        - '\definecolor{BlueFill}{HTML}{D6EAF8}'
        - '\definecolor{Green}{rgb}{0.0, 0.5, 0.0}'
        - '\definecolor{GreenD}{RGB}{40,117,40}'
        - '\definecolor{GreenL}{RGB}{219,253,166}'
        - '\definecolor{GreenLine}{HTML}{008F45}'
        - '\definecolor{GreenFill}{HTML}{D5F5E3}'
        - '\definecolor{GrayLine}{HTML}{666666}'
        - '\definecolor{OliveL}{RGB}{230,227,191}'
        - '\definecolor{OliveLine}{RGB}{173,166,10}'
        - '\definecolor{OrangeL}{RGB}{250,212,175}'
        - '\definecolor{OrangeLine}{HTML}{E67817}'
        - '\definecolor{RedL}{RGB}{253,226,240}'
        - '\definecolor{RedLine}{HTML}{D9534F}'
        - '\definecolor{RedFill}{HTML}{F2D7D5}'
        - '\definecolor{Sepia}{rgb}{0.44, 0.26, 0.08}'
        - '\definecolor{TextColor}{RGB}{224,224,224}'
        - '\definecolor{TextBlack}{HTML}{333333}'
        - '\definecolor{VioletL}{RGB}{247,180,247}'
        - '\definecolor{VioletL2}{RGB}{243,243,255}'
        - '\definecolor{VioletLine}{HTML}{7E317B}'
        - '\definecolor{VioletLine2}{RGB}{169,136,229}'
        - '\definecolor{YellowLine}{RGB}{251, 188, 4}'
        - '\definecolor{YellowFill}{RGB}{254, 247, 224}'
        - '\definecolor{myblue}{RGB}{31,119,180}'
        - '\definecolor{myorange}{RGB}{255,127,14}'
        - '\definecolor{mygreen}{RGB}{44,160,44}'
        - '\definecolor{myred}{RGB}{214,39,40}'
        - '\definecolor{mypurple}{RGB}{148,103,189}'
        - '\definecolor{mybrown}{RGB}{140,86,75}'
        - '\definecolor{myolive}{RGB}{173,166,10}'
        - '\definecolor{BlueGreen}{RGB}{20,188,188}'
        - '\definecolor{Cerulean}{RGB}{0,173,231}'
        - '\definecolor{Dandelion}{RGB}{255,185,76}'
        - '\definecolor{Goldenrod}{RGB}{255,219,87}'
        - '\definecolor{Lavender}{RGB}{253,160,204}'
        - '\definecolor{LimeGreen}{RGB}{136,201,70}'
        - '\definecolor{Maroon}{RGB}{186,49,50}'
        - '\definecolor{OrangeRed}{RGB}{255,46,88}'
        - '\definecolor{Peach}{RGB}{255,147,88}'
        - '\definecolor{Thistle}{RGB}{222,132,191}'
        - '\definecolor{Siva}{RGB}{161,152,130}'
