<div
  class="fixed top-16 right-4 bg-white dark:bg-zinc-800 shadow-lg rounded-lg p-4 max-w-sm w-full overflow-auto"
  style="z-index: 1000; max-height: 90%;"
>
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-lg font-semibold text-zinc-900 dark:text-white">Help & Support</h2>
  </div>
  <p class="text-zinc-800 dark:text-zinc-300 text-sm mb-4">
    Welcome to the SocratiQ with tinyML User Guide! This interactive tool is designed to enhance
    your learning experience with the TinyML textbook.
  </p>
  <p class="text-zinc-600 dark:text-zinc-400 text-sm mb-6">
    For detailed instructions on how to navigate and utilize the various features of this widget,
    please refer to the sections below.
  </p>

  <div class="space-y-4">
    <div id="help-content"></div>
  </div>
  <div class="flex justify-between items-center mt-6">
    <button
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      onclick="contactUs()"
    >
      Contact Us
    </button>
    <button
      class="bg-zinc-300 dark:bg-zinc-700 hover:bg-zinc-400 dark:hover:bg-zinc-600 text-zinc-800 dark:text-zinc-300 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      onclick="closePopup()"
    >
      Close
    </button>
  </div>
</div>
<!-- <script>
  function closePopup() {
      document.querySelector('div.fixed').style.display = 'none';
  }

  function contactUs() {
      alert('Please contact us at support@example.com');
  }
</script> -->
