<!-- Modal Structure -->
<div id="myModal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center p-4">
  <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
    <div class="px-4 pt-2 pb-1 sm:p-6 sm:pb-4" style="max-height: 500px;">
      <iframe id="feedback-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSeK8RXgc6kbT1IbWVLjyUhwowp3x1ySbAjUQQqztdDs5ccmmQ/viewform?embedded=true" width="100%" height="584" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
    <div class="px-4 py-1 sm:px-6 sm:flex sm:flex-row-reverse">
      <button type="button" id="closeModal" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
        Close
      </button>
    </div>
  </div>
</div>
