/*-- scss:defaults --*/

$primary: rgb(27, 27, 27) !default;
$success: #E09F9C !default;

/*-- scss:rules --*/

.sidebar-title {
  color: $success;
}

/* Specific section link color */
.content a {
  color: $success;
}

/* Headings ------------------------------------------------------ */

.quarto-section-identifier {
  color: #6C6C6C;
}

/* Code ------------------------------------------------ */

:not(pre) > code {
  color: #e2e3e5;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
  color: $success !important;
  background-color: snow;
  font-weight: bold;
}
