project:
  type: book
  execute-dir: project
  post-render:
    - scripts/clean_svgs.py
  preview:
    browser: true
    navigate: true

execute:
  freeze: auto

editor:
  render-on-save: false

citation: true
license: CC-BY-NC-SA
