format:
  titlepage-pdf:
    pdf-engine: lualatex
    use-rsvg-convert: true
    documentclass: scrbook
    classoption: [abstract,titlepage]
    header-includes: |
      \usepackage{needspace}
      \let\Needspace\needspace
    toc: true
    top-level-division: chapter
    number-sections: true
    citation-package: natbib
    link-citations: true
    biblio-title: "References"
    cite-method: citeproc
    title-block-style: none
    indent: 0px
    fontsize: 9pt
    colorlinks: true
    fig-caption: true
    fig-cap-location: bottom
    tbl-cap-location: top
    tbl-colwidths: auto
    hyperrefoptions:
      - linktoc=all
      - pdfwindowui
      - pdfpagemode=FullScreen
      - pdfpagelayout=SinglePage
    include-after-body:
      - file: "tex/after-body-includes.tex"
    listings: false
    highlight-style: assets/styles/custom-code.theme
