format:
  pdf:
    titlepage-theme:
      date: "today"
      date-format: long
      page-align: "left"
      title-style: "plain"
      title-fontstyle: ["huge", "bfseries"]
      title-space-after: "4\\baselineskip"
      title-subtitle-space-between: "0.05\\textheight"
      subtitle-fontstyle: ["large", "textit"]
      author-style: "superscript-with-and"
      author-fontstyle: "large"
      affiliation-style: "numbered-list-with-correspondence"
      affiliation-fontstyle: "large"
      affiliation-space-after: "0pt"
      footer-style: "plain"
      footer-fontstyle: "large"
      logo-size: "0.15\\textheight"
      logo-space-after: "1\\baselineskip"
      vrule-width: "2pt"
      vrule-align: "left"
      vrule-color: "black"
