name: Sync Fork with Upstream

on:
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight (00:00 UTC)
  workflow_dispatch:  # Allows manual triggering of the workflow

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Fork
        uses: actions/checkout@v3
        with:
          ref: dev  # Replace with your branch if it's not 'dev'

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_DEPLOY_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Add Upstream Remote
        run: git remote add upstream git@github.com:harvard-edge/cs249r_book.git

      - name: Fetch Upstream Changes
        run: git fetch upstream

      - name: Merge Upstream Changes
        run: |
          git checkout dev  # Switch to your default branch if different
          git merge upstream/dev  # Merge changes from the upstream branch you want to sync with

      - name: Push Changes to Fork
        run: git push origin dev  # Push the updates to your fork
